import(BiocGenerics)
importFrom(AnnotationDbi, keytypes, cols, columns, keys, select)

exportMethods(keytypes,
              columns,
              keys,
              select,
              taxId,
              "taxId<-",
              species)
              
export(cols,
       availableUniprotSpecies,
       lookupUniprotSpeciesFromTaxId)


