import(methods)
import(utils)
import(BiocGenerics)
import(RCurl)
import(RSQLite)
importFrom(AnnotationDbi, keytypes, columns, keys, select, resort_base)

exportMethods(keytypes,
              columns,
              keys,
              select,
              taxId,
              "taxId<-",
              species)
 
export(columns,
       availableUniprotSpecies,
       lookupUniprotSpeciesFromTaxId,
       UniProt.ws,
       taxname2domain, taxname2species, taxname2taxid)
