import(methods)
import(BiocGenerics)
import(RCurl)
import(RSQLite)
importFrom(AnnotationDbi, keytypes, columns, keys, select)

exportMethods(keytypes,
              columns,
              keys,
              select,
              taxId,
              "taxId<-",
              species)
 
export(columns,
       availableUniprotSpecies,
       lookupUniprotSpeciesFromTaxId,
       UniProt.ws)
